<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.edy.buymorestuff">
  <!-- Step 1: Specify possible location permission in the AndroidManifest.xml -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
    android:name=".BuyMoreStuffAmplifyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.BuyMoreStuff">
    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-9961978296460565~9312654717"/>
    <activity
      android:name=".activity.VerifyAccountActivity"
      android:exported="false" />
    <activity
      android:name=".activity.SignupActivity"
      android:exported="false" />
    <activity
      android:name=".activity.LoginActivity"
      android:exported="false" />
    <activity
      android:name=".activity.AddProductActivity"
      android:exported="true"> <!-- Don't forget to export any activity you want to be able to launch from an intent! -->
      <intent-filter android:label="Grab text for new product"> <!-- this is the text that shows up when the user is picking an app to handle the intent -->
        <action android:name="android.intent.action.SEND" /> <!-- this will register our activity as being able to process this intent -->
        <category android:name="android.intent.category.DEFAULT" /> <!-- this is needed for all implicit intents -->
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.UserSettingsActivity"
      android:exported="false" />
    <activity
      android:name=".activity.EditProductActivity"
      android:exported="true">
      <intent-filter android:label="Grab image for new product">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.ProductListActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
